.player {
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: repeat(2, .7fr) repeat(2, .5fr) repeat(7, 1fr) .5fr;
    grid-template-rows: 1fr;
    grid-column-gap: .5rem;
    grid-row-gap: 0px;
    padding: .5rem;
}

.player__cover {
    grid-area: 1 / 1 / 2 / 3;
}

.player__controls {
    grid-area: 1 / 3 / 2 / 5;
}

.player__progress {
    grid-area: 1 / 5 / 2 / 11;
}

.player__volume {
    grid-area: 1 / 11 / 2 / 13;
}

/* **  Cover */
.player__cover {
    width: 100%;
    height: 100%;
    display: flex;
}

.player__cover--image {
    width: 26%;
    height: 40px;
    border-radius: 10px;
}

.player__cover--image img {
    width: 40px;
    height: 40px;
    object-fit: fill;
    border-radius: 10px;
}

.player__cover--info {
    width: 74%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: .5rem;
}

.cover__info--song {
    font-size: .8rem;
    font-weight: 600;
    color: var(--text-color-2);
    margin-bottom: .2rem;
}

.cover__info--artist {
    font-size: .7rem;
    font-weight: 400;
    color: var(--text-color-1);
}

/* **  Controls */

.player__controls {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.controls__button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color-2);
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s ease-in-out;
    padding: 0;
    margin: 0;
}

.controls__button.controls__button--backward,
.controls__button.controls__button--forward {
    background-color: transparent;
    font-size: 1.2rem;
}

.controls__button.controls__button--play,
.controls__button.controls__button--pause {
    background-color: var(--primary-color);
    font-size: 1.5rem;
}

.controls__button.hide {
    display: none;
}

/* ** Progress */

.player__progress {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.player__progress--timer {
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player__progress--bar {
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.player__progress--bar-input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: none;
}
/* ** Volume */
.player__volume {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.player__volume .controls__button--volume{
    font-size: 1.2rem;
    background-color: transparent;
}
.player__volume--bar{
    width: calc(100% - 40px);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.player__volume--bar-input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: none;
}


.video-responsive{
    display: none;
}