/* MEDIA QUERY XS */
@media (min-width: 0px) {
    .side {
        background-color: rgba(18, 18, 30, 1);
        display: none;
        overflow-y: auto;
        z-index: 3;
    }

    .side__title {
        width: 100%;
        height: 3.2rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: .8rem;
        padding: 0 0 0 1.5rem;
        cursor: pointer;
        transition: all .3s ease-in-out;
    }

    .side__title i {
        height: 100%;
        width: 2rem;
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        color: var(--text-color-2);
    }

    .side__title--text {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        color: var(--text-color-2);
        font-size: 1rem;
        font-weight: 600;
        line-height: 2rem;
        text-transform: uppercase;
        transition: all .3s ease-in-out;
    }

    .side__title:hover .side__title--text {
        color: var(--text-color-1);
    }

    .side__title:hover i {
        color: var(--text-color-1);
    }

    .side__menu {
        width: 100%;
        height: 90%;
        overflow-y: auto;
    }

    .side__menu::-webkit-scrollbar {
        width: 0px;
        background: transparent;
        /* make scrollbar transparent */
    }

    .side.show {
        display: block;
    }
}

@media (min-width: 992px) {
    .side {
        background-color: var(--secondary-color);
        padding: 1rem 0rem .2rem 0rem;
        display: block;
    }

    .side__title {
        width: 100%;
        height: 3.2rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: .8rem;
        padding: 0 0 0 1.5rem;
        cursor: pointer;
        transition: all .3s ease-in-out;
    }


    .side__title i {
        height: 100%;
        width: 2rem;
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        color: var(--text-color-2);
    }

    .side__title--text {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        color: var(--text-color-2);
        font-size: 1rem;
        font-weight: 600;
        line-height: 2rem;
        text-transform: uppercase;
        transition: all .3s ease-in-out;
    }

    .side__title:hover .side__title--text {
        color: var(--text-color-1);
    }

    .side__title:hover i {
        color: var(--text-color-1);
    }

    .side__menu {
        width: 100%;
        height: 90%;
        overflow-y: auto;
    }

    .side__menu::-webkit-scrollbar {
        width: 0px;
        background: transparent;
        /* make scrollbar transparent */
    }
}