:root {
	/* Colors */
	--bg-color: #080809;
	--primary-color: rgba(66, 87, 191, 1);
	--secondary-color: rgba(18, 18, 30, .7);
	--text-color-1: rgba(118, 118, 125, 1);
	--text-color-2: rgba(212, 212, 212, 1);

	--box-color: rgb(35, 35, 41);
	--box-color-2: rgba(118, 118, 125, .4);
	--box-text-color: rgb(255, 255, 255);

	--border-color: rgba(118, 118, 125, .5);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body {
	background-image: linear-gradient(to bottom, #080809, #080809, #080809, #070708, #070708, #070708, #070708, #070708, #070708, #080809, #080809, #080809);
	color: #fff;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

button {
	border: none;
	outline: none;
	cursor: pointer;
}